.article-container {
  width: 958px;
  // height: 600px;
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: rgb(255, 255, 255);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 5px 10px 0px rgba(69, 68, 68, 0.162);
  // background-color: red;
  padding: 10px;
  input {
    border: 1px #d9d9d9 solid;
    border-radius: 5px;
  }
}

// .title-container {
//   height: 20px;
//   display: flex;
//   justify-content: space-between;
//   font-size: 20px;
//   line-height: 28px;
// }

.title {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  line-height: 28px;
  min-width: 30px;
  min-height: 20px;
}

.article-title {
  min-width: 20px;
  min-height: 20px;
  color: #1890ff;
  font-family: Inter;
  overflow: hidden;
  font-size: 24px;
}

.article-header {
  display: flex;
  justify-content: space-between;
  // margin: 20px;
}

.user-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  height: 70px;
  // margin-right: 20px;
  // background-color: brown;
}

.user-name {
  display: flex;
  flex-wrap: wrap;
  width: 100px;
  height: 46px;
}

.user-avatar {
  width: 46px;
  height: 46px;
  border-radius: 50%;
}

// .one-article {
//   padding: 20px;
//   // height: 560px;
//   // background-color: blue;
// }
// .article-tittle {
//   overflow: hidden;
//   color: #1890ff;
// }

// // .article-tittle-container {
// //   width: 200px;
// // }

.description {
  width: 682px;
  color: #00000080;
}

.article-description-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.buttons-container {
  width: 155px;
  display: flex;
  justify-content: space-between;
  button {
    border-radius: 5px;
    height: 31px;
    background-color: #fff;
    cursor: pointer;
  }
}

.delete {
  width: 78px;
  border: 1px solid #f5222d;
  color: #f5222d;
}

.edit {
  width: 65px;
  border: 1px solid #52c41a;
  color: #52c41a;
}
