.sign-in-container {
  width: 384px;
  height: 374px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 20px 30px 0px rgba(69, 68, 68, 0.162);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.login-details-ocntainer {
  width: 320px;
  height: 140px;
  display: flex;
  flex-wrap: wrap;
  //   background-color: blue;
  input {
    width: 314px;
    height: 40px;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 2px;
    margin-bottom: 5px;
    border: 1px solid #d9d9d9;
  }
}

.login-button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 320px;
  height: 68px;
  margin-bottom: 30px;
  //   background-color: brown;
  a {
    text-decoration: none;
    color: #1890ff;
  }
  button {
    width: 320px;
    height: 40px;
    background-color: #1890ff;
    color: #fff;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    cursor: pointer;
  }
}
