.article {
  width: 918px;
  height: 120px;
  margin-top: 20px;
  background-color: rgb(255, 255, 255);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 5px 10px 0px rgba(69, 68, 68, 0.162);
}

.article {
  padding: 20px;
}

.article-header {
  display: flex;
  justify-content: space-between;
  /* background-color: brown; */
}

.tittle-container {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  line-height: 28px;
}

.article-tittle {
  /* width: 160px; */
  color: #1890ff;
  font-family: Inter;
}

.tittle {
  /* width: 150px; */
  min-width: 20px;
  height: 28px;
  height: auto;
  overflow: hidden;
}

.favotite-count span {
  margin-left: 5px;
  cursor: pointer;
}

.author-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 170px;
  /* background-color: blue; */
}

.author-info {
  display: flex;
  width: 100px;
  height: 46px;
}

.author-image {
  width: 46px;
  height: 46px;
  border-radius: 50%;
}

.create-date {
  color: #00000080;
  width: 120px;
}

.article-body {
  height: 72px;
  width: 682px;
  overflow: hidden;
  color: #000000bf;
  /* background-color: blue; */
}

.tags {
  /* width: 160px; */
  height: 20px;
  font-size: 14px;
  display: flex;
  margin: 5px 0px 5px 0px;
  color: #00000080;
}
.tag {
  padding: 2px;
  border-radius: 2px;
  border: 1px solid #00000080;
  margin-right: 10px;
}

.link {
  color: black;
  text-decoration: none;
}

.author-user-name {
  width: 81px;
  overflow: hidden;
}

.like-box {
  margin: 0 0 0 13px;
  width: 16px;
  height: 16px;
  background-image: url(./noLike.png);
}

.article-like:checked + .like-box {
  background: url(./Like.png) no-repeat center;
}

.favotite-count {
  width: 160px;
  display: flex;
  align-items: center;
}
