.header-container {
  width: 100%;
  height: 80px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
}

.name-tittle {
  width: 147px;
  height: 80px;
  display: flex;
  align-items: center;
  margin-left: 20px;
  color: #000000d9;
}

.sing-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 200px;
  border-radius: 5px;
  //   background-color: brown;
  margin-right: 20px;
  //   border: 1px solid #ffffff;
}

.sing-up {
  width: 109px;
  height: 51px;
  border: 1px solid #52c41a;
  border-radius: 5px;
  color: #52c41a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-article {
  width: 112px;
  height: 31px;
  border-radius: 5px;
  border: 1px solid #52c41a;
  color: #52c41a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-avatar {
  img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }
}

.actions-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 400px;
  margin-right: 20px;
}

.user-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 140px;
  height: 46px;
}

.log-out {
  width: 109px;
  height: 51px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid black;
  font-size: 18px;
  cursor: pointer;
}
