.edit-profile-container {
  background-color: #fff;
  border-radius: 5px;
  width: 384px;
  height: 498px;
  margin-top: 20px;
  box-shadow: 0px 5px 10px 0px rgba(69, 68, 68, 0.162);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
